:root {
  --container-width: 1184px;
  --container-padding: 32px;

  --font-main: "Inter", sans-serif;
  --font-accent: 'Poppins', sans-serif;
  --font-nav: "Space Grotesk", sans-serif;
  --font-titles: var(--font-accent);

  --color-dark: #000;
  --color-light: #fff;
  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;
  --title-important-color: #377DFF;
  --color-yellow: #FFAB00;
  --color-neutral-02-10-light-alt: #F3F5F7;
  --color-neutral-07-100-dark: #141718;
  --color-neutral-04-10-dark-alt: #6C7275;

  --color-btn-hover: rgba(20, 23, 24, .5);

  --color-banner-bg: #E2E4E3;
  --bg-color-for-banner-bg: var(--color-banner-bg);

  --color-yellow-accent: #FFAB00A3;
  --bg-color-for-menu: var(--color-yellow-accent);


  --cotainer-width: 1440px;
  --container-padding-x: 20px;

  --border-radius-small: 4px;
  --border-radius-normal: 6px;
  --border-radius-big: 8px;


  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}
