.banner {
  background-image: url("../../img/join-banner/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../../img/join-banner/banner-bg@2x.jpg);
  }
  background-color: var(--bg-color-for-banner-bg);

  @include mobile {
    background-image: none;
  }

  &__container {
    display: flex;
    justify-content: center;
    height: 360px;
  }

  &__content {
    height: 360px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 100px 0;
    max-width: 488px;

    row-gap: 32px;

    @include mobile {
      max-width: 311px;
    }
  }

  &__title {
    padding-bottom: 8px;
  }

  &__description {
    @include font-style(18, 30, 400);
    text-wrap: wrap;

    @include mobile {
      @include font-style(14, 22, 400);
    }
  }

  &__form {
    display: inline-flex;
    column-gap: 8px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(108, 114, 117, 0.5);

    color: var(--color-neutral-04-10-dark-alt);

    &:focus-within {
      -webkit-box-shadow: 0px -10px 5px -5px rgba(209, 9, 9, 0.6) inset;
      -moz-box-shadow: 0px -10px 5px -5px rgba(209, 9, 9, 0.6) inset;
      box-shadow: 0px -10px 5px -5px rgba(209, 9, 9, 0.6) inset;
    }


    &--img {
      padding-top: 2px;
      padding-bottom: 2px;
      align-self: center;
    }

    &-input {
      width: 396px;

      &:focus {
        color: var(--accent);
      }

      &:focus::placeholder {
        color: transparent;
      }
    }

    &-submit {
      padding: 12px 0 12px 12px;
      letter-spacing: -0.4px;
      @include font-style(16, 28, 500);
      transition: color 0.2s ease;

      &:hover {
        @include hover {
          color: var(--color-yellow);

        }
      }
    }
  }
}
