.bestseller {
  &__title {
    padding: 48px 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    gap: 48px 24px;

    &:last-child {
      padding-bottom: 100px;
    }

    &:hover {
      .card__favorite,
      .card__button {
        display: none
      }
    }
  }
}