.copyrighting {
  display: flex;
  column-gap: 28px;

  font-family: var(--font-accent);
  font-size: 12px;
  line-height: 1.666;

  @include mobile {
    flex-direction: column-reverse;
    row-gap: 28px;
  }

  &-wrapper-mobile {
    display: contents;
    @include mobile {
      display: flex;
      justify-content: space-evenly;
      font-weight: 600;
    }
  }
}