.dots {
  display: flex;
  align-items: center;
  column-gap: 8px;

  &__dot {
    display: flex;
    position: relative;

    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &::before {
      content: '';
      @include abs-center;

      width: 8px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: var(--color-neutral-04-10);
    }

    &--active {
      &:before {
        background-color: var(--color-neutral-07-100-dark);
      }

      border: 1px solid var(--color-neutral-07-100-dark);
    }
  }
}