.footer {
  color: var(--color-light);
  background-color: var(--color-neutral-07-100-dark);

  &__header {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
    @include font-style(14, 22, 400);

    @include mobile {
      align-items: center;
      flex-direction: column;
    }
  }

  &__logo-wrapper {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__logo {
    padding-right: 32px;
    border-right: 1px solid var(--color-neutral-04-10-dark-alt);

    @include mobile {
      padding-right: 0;
      border-right: none;
      padding-bottom: 16px;
    }
  }

  &__link {
    position: relative;
    padding-left: 32px;
    color: #E8ECEF;

    span {
      position: absolute;
      top: 0;
      left: 40%;
      right: 0;
      width: 24px;
      height: 1px;
      background-color: #6C7275;
    }

    @include mobile {
      padding-top: 16px;
      padding-left: 0;
    }
  }

  &__menu-list {
    display: flex;
    gap: 40px;

    @include mobile {
      flex-direction: column;
      padding-top: 40px;
      align-items: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 20px;

    border-top: 1px solid var(--color-neutral-04-10-dark-alt);

    @include mobile {
      flex-direction: column-reverse;
      align-items: center;
      row-gap: 32px;
    }
  }

}