.hero {
  height: 820px;
  background-image: url(../../img/hero/bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: var(--color-yellow-accent);

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url(../../img/hero/bg-hero@2x.jpg);
  }

  @include mobile {
    height: 450px;
  }

  @include desktop-above {
    background-size: contain;

  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    justify-content: center;
    align-items: start;

    padding-left: calc(
            (100% - var(--container-width)) / 2 + (var(--container-width) / 2)
    );

    padding-right: calc(
            (100% - var(--container-width)) / 2 + var(--container-padding)
    );

    @include tablet {
      padding-right: var(--container-padding);
    }
  }

  &__title {
    @include font-style(80, 84, 500);

    text-wrap: balance;
    padding-bottom: 8px;
    letter-spacing: -3px;

    @include tablet {
      font-size: 55px;
    }

    @include mobile {
      @include font-style(40, 42, 500)

    }

    u {
      text-decoration: none;
      color: var(--title-important-color);
    }
  }

  &__description {
    @include font-style(20, 32, 400);
    font-size: 20px;
    line-height: 32px;
    max-width: 424px;
  }

  &__button {
    @include font-style(18, 32, 500);
  }

}