.social {
  &__list {
    display: flex;
    column-gap: 24px;
  }

  &__item {
    width: 24px;
    aspect-ratio: 1;
  }

  &__title {
    color: #E8ECEF;
  }

  &__policy,
  &__terms-of-use {
    font-weight: 600;
  }
}