.values {
  font-family: var(--font-accent);

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
    padding: 40px;

    @include tablet {
      gap: 24px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      gap: 24px 8px;
      padding: 32px 0;
    }

  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    padding: 48px 32px;
    width: 262px;
    height: 220px;
    background-color: var(--color-neutral-02-10-light-alt);

    @include tablet {
      justify-content: flex-end;
      width: 100%;
    }
    @include mobile {
      padding: 32px 16px;
    }
  }

  &__img {
    width: 48px;
    aspect-ratio: 1;
  }

  &__text {
    display: block;
    row-gap: 8px;
  }

  &__title {
    @include font-style(20, 28, 500);

    @include mobile {
      @include font-style(14, 22, 600);
      font-family: var(--font-main);

    }
  }

  &__description {
    @include font-style(14, 24, 400);

    @include mobile {
      font-family: var(--font-main);
      @include font-style(14, 22, 400)
    }
  }
}