<div class="social">
    <ul class="social__list">
        <li class="social__item">
            <a href="#!" class="social__link">
                <img class="social__image"
                     width="24"
                     height="24"
                     src="./img/icons/instagram.svg"
                     alt="instagram"
                     loading="lazy">
            </a>
        </li>
        <li class="social__item">
            <a href="#!" class="social__link">
                <img class="social__image"
                     width="24"
                     height="24"
                     src="./img/icons/facebook.svg"
                     alt="facebook"
                     loading="lazy">
            </a>
        </li>
        <li class="social__item">
            <a href="#!" class="social__link">
                <img class="social__image"
                     width="24"
                     height="24"
                     src="./img/icons/youtube.svg"
                     alt="youtube"
                     loading="lazy">
            </a>
        </li>
    </ul>
</div>