<div class="promotion__timer timer">
    <div class="timer__element">
        <div class="timer__value" id="days">02</div>
        <div class="timer__description">Days</div>
    </div>
    <div class="timer__element">
        <div class="timer__value" id="hours">12</div>
        <div class="timer__description">Hours</div>
    </div>
    <div class="timer__element">
        <div class="timer__value" id="minutes">45</div>
        <div class="timer__description">Minutes</div>
    </div>
    <div class="timer__element">
        <div class="timer__value" id="seconds">05</div>
        <div class="timer__description">Seconds</div>
    </div>
</div>