<ul class="navigation__list">
    <li class="navigation__item">
        <span class="arrow-right"></span>
        <a href="#!" class="navigation__link">Home</a>
    </li>
    <li class="navigation__item navigation__item-dropdown-hover_shop">
        <span class="arrow-right"></span>
        <a href="#!" class="navigation__link">Shop</a>
        <span class="chevron-down"></span>
        <ul class="navigation__list-dropdown navigation__list-dropdown-shop">
            <li class="navigation__item-dropdown"><a href="" class="navigation__link-dropdown">Shop
                1</a>
            </li>
            <li class="navigation__item-dropdown"><a href="" class="navigation__link-dropdown">Shop
                2</a>
            </li>
            <li class="navigation__item-dropdown"><a href="" class="navigation__link-dropdown">Shop
                3</a>
            </li>
        </ul>
    </li>
    <li class="navigation__item navigation__item-dropdown-hover_product">
        <span class="arrow-right"></span>
        <a href="#!" class="navigation__link">Product</a>
        <span class="chevron-down"></span>
        <ul class="navigation__list-dropdown navigation__list-dropdown-product">
            <li class="navigation__item-dropdown"><a href="" class="navigation__link-dropdown">Product
                1</a>
            </li>
            <li class="navigation__item-dropdown"><a href="" class="navigation__link-dropdown">Product
                2</a>
            </li>
            <li class="navigation__item-dropdown"><a href="" class="navigation__link-dropdown">Product
                3</a>
            </li>
        </ul>
    </li>
    <li class="navigation__item">
        <a href="#!" class="navigation__link">Contact Us</a>
    </li>
</ul>